.Projectobject{
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 800px;
    border: solid white 5px;
    border-radius: 3px;
}
.carousel img{
    height: 300px;
}
.Title{
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 0 50px #51ceee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
}
.ProjectCard{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 60%;
    margin: 30px 30px;
    box-shadow: #e74efc 0 0 30px;
}
.ProjectCard .card-body{
    display: flex;
    flex-direction: column;
}
.card-body h6 {
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}
.ProjectCardLittleTitle{
    display: flex;
    text-align: left;
}
.ProjectCardTool{
    display: flex;
    justify-content: start;
}
.card-body button{
    width: 150px;
    margin-top: 15px;
    margin-left: 28%;
}
